In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from numpy import log2 as log2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/dh&v lab/play_tennis.csv")
value=['Outlook','Temprature','Humidity','Wind']

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [ ]:
print(dataset)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [ ]:
print(X)

[['D1' 'Sunny' 'Hot' 'High' 'Weak']
 ['D2' 'Sunny' 'Hot' 'High' 'Strong']
 ['D3' 'Overcast' 'Hot' 'High' 'Weak']
 ['D4' 'Rain' 'Mild' 'High' 'Weak']
 ['D5' 'Rain' 'Cool' 'Normal' 'Weak']
 ['D6' 'Rain' 'Cool' 'Normal' 'Strong']
 ['D7' 'Overcast' 'Cool' 'Normal' 'Strong']
 ['D8' 'Sunny' 'Mild' 'High' 'Weak']
 ['D9' 'Sunny' 'Cool' 'Normal' 'Weak']
 ['D10' 'Rain' 'Mild' 'Normal' 'Weak']
 ['D11' 'Sunny' 'Mild' 'Normal' 'Strong']
 ['D12' 'Overcast' 'Mild' 'High' 'Strong']
 ['D13' 'Overcast' 'Hot' 'Normal' 'Weak']
 ['D14' 'Rain' 'Mild' 'High' 'Strong']]

In [ ]:
print(y)

['No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'No']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [ ]:
print(x_train)

[['D5' 'Rain' 'Cool' 'Normal' 'Weak']
 ['D2' 'Sunny' 'Hot' 'High' 'Strong']
 ['D13' 'Overcast' 'Hot' 'Normal' 'Weak']
 ['D1' 'Sunny' 'Hot' 'High' 'Weak']
 ['D14' 'Rain' 'Mild' 'High' 'Strong']
 ['D10' 'Rain' 'Mild' 'Normal' 'Weak']
 ['D9' 'Sunny' 'Cool' 'Normal' 'Weak']
 ['D12' 'Overcast' 'Mild' 'High' 'Strong']
 ['D6' 'Rain' 'Cool' 'Normal' 'Strong']]

In [ ]:
print(x_test)

[['D4' 'Rain' 'Mild' 'High' 'Weak']
 ['D8' 'Sunny' 'Mild' 'High' 'Weak']
 ['D7' 'Overcast' 'Cool' 'Normal' 'Strong']
 ['D3' 'Overcast' 'Hot' 'High' 'Weak']
 ['D11' 'Sunny' 'Mild' 'Normal' 'Strong']]

In [ ]:
print(y_train)

['Yes' 'No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'Yes' 'No']

In [ ]:
print(y_test)

['Yes' 'No' 'Yes' 'Yes' 'Yes']

In [ ]:
entropy= 0  
values = dataset.play.unique()  
for value in values:
    probab = dataset.play.value_counts()[value]/len(dataset.play)  
    entropy+= -probab*np.log2(probab)

In [ ]:
entropy

0.9402859586706309

In [ ]:
entropy_out= 0  
values = dataset.outlook.unique()  
for value in values:
    probab = dataset.outlook.value_counts()[value]/len(dataset.outlook)  
    entropy_out+= -probab*np.log2(probab)

entropy_out

1.5774062828523454

In [ ]:
def calc_total_entropy(train_data, label, class_list):
    total_row = train_data.shape[0] #the total size of the dataset
    total_entr = 0
    
    for c in class_list: #for each class in the label
        total_class_count = train_data[train_data[label] == c].shape[0] #number of the class
        total_class_entr = - (total_class_count/total_row)*np.log2(total_class_count/total_row) #entropy of the class
        total_entr += total_class_entr #adding the class entropy to the total entropy of the dataset
    
    return total_entr

In [ ]:
calc_total_entropy(dataset,"play",values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

nan

In [ ]:
sunny= dataset.loc[dataset["outlook"]=="Sunny"]
sunny

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [ ]:
def calc_entropy(feature_value_data, label, class_list):
    class_count = feature_value_data.shape[0]
    entropy = 0
    
    for c in class_list:
        label_class_count = feature_value_data[feature_value_data[label] == c].shape[0] #row count of class c 
        entropy_class = 0
        if label_class_count != 0:
            probability_class = label_class_count/class_count #probability of the class
            entropy_class = - probability_class * np.log2(probability_class)  #entropy
        entropy += entropy_class
    return entropy

In [ ]:
sunny_entropy= calc_entropy(sunny,"play",values)
sunny_entropy

0

In [ ]:
rain= dataset.loc[dataset["outlook"]=="Rain"]
rain

    day outlook  temp humidity    wind play
3    D4    Rain  Mild     High    Weak  Yes
4    D5    Rain  Cool   Normal    Weak  Yes
5    D6    Rain  Cool   Normal  Strong   No
9   D10    Rain  Mild   Normal    Weak  Yes
13  D14    Rain  Mild     High  Strong   No

In [ ]:
rain_entropy= calc_entropy(rain,"play",values)
rain_entropy

0

In [ ]:
overcast= dataset.loc[dataset["outlook"]=="Overcast"]
overcast

    day   outlook  temp humidity    wind play
2    D3  Overcast   Hot     High    Weak  Yes
6    D7  Overcast  Cool   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [ ]:
overcast_entropy= calc_entropy(overcast,"play",values)
overcast_entropy

0

In [ ]:
def calc_info_gain(feature_name, train_data, label, class_list):
    feature_value_list = train_data[feature_name].unique() #unqiue values of the feature
    total_row = train_data.shape[0]
    feature_info = 0.0
    
    for feature_value in feature_value_list:
        feature_value_data = train_data[train_data[feature_name] == feature_value] #filtering rows with that feature_value
        feature_value_count = feature_value_data.shape[0]
        feature_value_entropy = calc_entropy(feature_value_data, label, class_list) #calculcating entropy for the feature value
        feature_value_probability = feature_value_count/total_row
        feature_info += feature_value_probability * feature_value_entropy #calculating information of the feature value
        
    return calc_total_entropy(train_data, label, class_list) - feature_info #calculating information gain by subtracting

In [ ]:
ig_outlook=calc_info_gain("outlook",dataset,"play",values)
ig_outlook

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

nan

In [ ]:
ig_humidity=calc_info_gain("humidity",dataset,"play",values)
ig_humidity

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

nan

In [ ]:
datanew=dataset.drop(columns='day')
datanew

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
def find_most_informative_feature(train_data, label, class_list):
    feature_list = train_data.columns.drop(label) #finding the feature names in the dataset
                                            #N.B. label is not a feature, so dropping it
    max_info_gain = -1
    max_info_feature = None
    
    for feature in feature_list:  #for each feature in the dataset
        feature_info_gain = calc_info_gain(feature, train_data, label, class_list)
        if max_info_gain < feature_info_gain: #selecting feature name with highest information gain
            max_info_gain = feature_info_gain
            max_info_feature = feature
            
    return max_info_feature

In [ ]:
find_most_informative_feature(datanew,"play",values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

In [ ]:
def generate_sub_tree(feature_name, train_data, label, class_list):
    feature_value_count_dict = train_data[feature_name].value_counts(sort=False) #dictionary of the count of unqiue feature value
    tree = {} #sub tree or node
    
    for feature_value, count in feature_value_count_dict.iteritems():
        feature_value_data = train_data[train_data[feature_name] == feature_value] #dataset with only feature_name = feature_value
        
        assigned_to_node = False #flag for tracking feature_value is pure class or not
        for c in class_list: #for each class
            class_count = feature_value_data[feature_value_data[label] == c].shape[0] #count of class c

            if class_count == count: #count of feature_value = count of class (pure class)
                tree[feature_value] = c #adding node to the tree
                train_data = train_data[train_data[feature_name] != feature_value] #removing rows with feature_value
                assigned_to_node = True
        if not assigned_to_node: #not pure class
            tree[feature_value] = "?" #should extend the node, so the branch is marked with ?
            
    return tree, train_data

In [ ]:
def make_tree(root, prev_feature_value, train_data, label, class_list):
    if train_data.shape[0] != 0: #if dataset becomes enpty after updating
        max_info_feature = find_most_informative_feature(train_data, label, class_list) #most informative feature
        tree, train_data = generate_sub_tree(max_info_feature, train_data, label, class_list) #getting tree node and updated dataset
        next_root = None
        
        if prev_feature_value != None: #add to intermediate node of the tree
            root[prev_feature_value] = dict()
            root[prev_feature_value][max_info_feature] = tree
            next_root = root[prev_feature_value][max_info_feature]
        else: #add to root of the tree
            root[max_info_feature] = tree
            next_root = root[max_info_feature]
        
        for node, branch in list(next_root.items()): #iterating the tree node
            if branch == "?": #if it is expandable
                feature_value_data = train_data[train_data[max_info_feature] == node] #using the updated dataset
                make_tree(next_root, node, feature_value_data, label, class_list) #recursive call with updated dataset

In [ ]:
def id3(train_data_m, label):
    train_data = train_data_m.copy() #getting a copy of the dataset
    tree = {} #tree which will be updated
    class_list = train_data[label].unique() #getting unqiue classes of the label
    make_tree(tree, None, train_data_m, label, class_list) #start calling recursion
    return tree

In [ ]:
tree = id3(datanew, 'play')
tree

{'outlook': {'Sunny': {'humidity': {'High': 'No', 'Normal': 'Yes'}},
  'Overcast': 'Yes',
  'Rain': {'wind': {'Weak': 'Yes', 'Strong': 'No'}}}}